# Create .env for server environment
# Create .env.local for local environment

# ************** APPLICATION **************
SERVER_PORT = 
ENV = 
DEBUG = 
SERVICE_JWT_SECRET=
SWAGGER_API_BASE_URL=
USER_AUTH_BASE_URL=

# ************** DATABASE **************
MONGO_DB_PORT=
MONGO_DB_NAME=
MONGO_CLUSTER_NAME=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB_PROTOCOL= # mongodb or mongodb+srv

# ************** Encryption **************
ENCRYPTION_ALGORITHM=
ENCRYPTION_SECRET=
ENCRYPTION_VECTOR=

# ************** Service url **************
UI_BASE_URL= 

# ************** Auth **************
DEFAULT_USER_PASSWORD=
AUTH_TOKEN_SECRET=
MFA_TOKEN_KEY=

# ************** Kafka **************
KAFKA_BROKERS =

# ************** Redis **************
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
